<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
</head>
<body>
    <nav>
        <h1>
            <a href="/home"><strong>RENTALCAR</strong> by BIG CITY BOIS</a>
        </h1>
        <ul>
            {% block navigation %}

            {% endblock %}
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>