<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav>
        <h1>This is navigation</h1>
        <ul>
            <li>
                <a href="http://localhost:5000/logout">Logout</a>
            </li>
        </ul>
    </nav>

    <main class="container">
        <form method="POST" action="http://localhost:5000/car/find" style="box-sizing: border-box;">
            <label for="search_bar">Search:</label>
            <input type="search" id="search_bar" placeholder="Please enter" name="search_features"/>
            <button>Submit!</button>
        </form>

        <table border="1" id="table_car">
            <caption>Available Car</caption>
            <thead>
                <th>Brand</th>
                <th>Body Type</th>
                <th>Color</th>
                <th>Seat</th>
                <th>Location</th>
                <th>Cost</th>
                <th>Book Now!</th>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>Civic</td>
                    <td>SUV</td>
                    <td>Black</td>
                    <td>4</td>
                    <td>Thu Duc</td>
                    <td>1 Trieu/h</td>
                </tr>
                <tr>
                    <td>Honda CRV</td>
                    <td>Something</td>
                    <td>Black</td>
                    <td>4</td>
                    <td>Thu Duc</td>
                    <td>1 Trieu/h</td>
                </tr> -->
                {% for car in cars %}
                    <tr>
                        {% for key, value in car.items() %}
                            {% if key != 'ID' %}
                            <td> {{ value }} </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </main>

    <!-- <script>
        "use strict"

        function search_car(){
            var features = document.getElementById("search_bar").value;
            console.log(features);

            fetch("http://127.0.0.1:5000/car/find", {
                headers: {
                    "Content-Type": "application/json"
                },
                method: "POST", 
                body: JSON.stringify({
                    "search_features": features
                })
            })
            .then((res) => res.json())
            .then((json) => {
                //Remove old nodes
                var parent_node = document.getElementById("table_car").lastChild;
                while (parent_node.childNodes.length > 0){
                    parent_node.removeChild(parent_node.lastChild)
                }

                // Add new nodes
                var content = ""
                json.forEach(element => {
                    content += "<tr>";
                    ["brand", "body_type", "colour", "seats", "location", "cost_per_hour"].forEach( property => {
                        content += ("<td>" + element[property] + "</td>")
                    })
                    content += "</tr>"

                });
                parent_node.innerHTML += content
            }) 
            // .catch((err) => console.log(err))

            return false;
        }

    </script> -->
</body>
</html>