<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>CAR RENTAL SYSTEM</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="rental_history.html" class="logo"><strong>CAR RENTAL SYSTEM</strong> by BIG CITY BOIS</a>
			<nav id="nav">
				<a href="dashboard.html">Dashboard</a>
				<a href="index.html">Home</a>
				<a href="login.html">Login</a>
				<a href="Register.html">Register</a>
				<a href="carlist.html">Car list</a>
				<a href="bookinginfo.html">Booking info</a>
				<a href="rental_history.html">Rental history</a>
				<a href="reported_car.html">Reported car</a>
				<a href="generic.html">Generic</a>
				<a href="elements.html">Elements</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>

	<!-- Banner -->
	<section id="banner" style="background-image: url(images/banner4.jpg);">
		<div class="inner">
			<header>
				<h1>ADMINISTRATION</h1>
			</header>

			<div class="flex ">

				<div>
					<span class="icon fa-car"></span>
					<h3>Car rental</h3>
					<!-- <p>Suspendisse amet ullamco</p> -->
				</div>

				<div>
					<span class="icon fa-camera"></span>
					<h3>Smart connection</h3>
					<!-- <p>Class aptent taciti ad litora</p> -->
				</div>

				<div>
					<span class="icon fa-bug"></span>
					<h3>Little bugs</h3>
					<!-- <p>Nulla vitae mauris non felis</p> -->
				</div>

			</div>

			<!-- <footer>
				<a href="#" class="button">Get Started</a>
			</footer> -->
		</div>
	</section>

	<section id="register" class="wrapper align-left">
		<div class="inner">

			<h3>CAR - USER SEARCH</h3>

			<div class="table-wrapper">

				<form method="post" action="#">
					<div class="row uniform">
						<div class="6u 12u$(xsmall)">
							<input type="text" name="car-name" id="car-name" value="" placeholder="Car name" />
						</div>
						<div class="6u$ 12u$(xsmall)">
							<input type="text" name="seat" id="seat" value="" placeholder="Seat" />
						</div>
						<!-- Break -->
						<div class="6u 12u$(xsmall)">
							<div class="select-wrapper">
								<select name="demo-category" id="demo-category">
									<option value="">- Color -</option>
									<option value="1">Red</option>
									<option value="1">Blue</option>
									<option value="1">Black</option>
									<option value="1">White</option>
								</select>
							</div>
						</div>

						<div class="6u 12u$(xsmall)">
							<div class="select-wrapper">
								<select name="demo-category" id="demo-category">
									<option value="">- Brand -</option>
									<option value="1">BMW</option>
									<option value="1">Audi</option>
									<option value="1">Toyota</option>
									<option value="1">Mercedes</option>
								</select>
							</div>
						</div>
						<!-- Break -->
						<div class="4u 12u$(small)">
							<input type="radio" id="demo-priority-low" name="demo-priority" checked>
							<label for="demo-priority-low">Low Priority</label>
						</div>
						<div class="4u 12u$(small)">
							<input type="radio" id="demo-priority-normal" name="demo-priority">
							<label for="demo-priority-normal">Normal Priority</label>
						</div>
						<div class="4u$ 12u$(small)">
							<input type="radio" id="demo-priority-high" name="demo-priority">
							<label for="demo-priority-high">High Priority</label>
						</div>
						<!-- Break -->
						<div class="6u 12u$(small)">
							<input type="checkbox" id="demo-copy" name="demo-copy">
							<label for="demo-copy">Email me a copy of this message</label>
						</div>
						<div class="6u$ 12u$(small)">
							<input type="checkbox" id="demo-human" name="demo-human" checked>
							<label for="demo-human">I am a human and not a robot</label>
						</div>
						<!-- Break -->
						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Search" /></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

	<section id="register" class="wrapper align-left">
		<div class="inner">

			<h3>CAR RENTAL HISTORY</h3>

			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Car name</th>
							<th>Brand</th>
							<th>Type</th>
							<th>No. seat</th>
							<th>Color</th>
							<th>Location</th>
							<th>Cost per hour</th>
							<th>Current Status</th>
							<th>Departure</th>
							<th>Arrival</th>
							<th>Report this car</th>
							<th>Modify this car</th>


						</tr>
					</thead>
					<tbody>
						<tr>
							<td>R8</td>
							<td>Audi</td>
							<td>Supper car</td>
							<td>1</td>
							<td>Black</td>
							<td>Sai Gon</td>
							<td>$84</td>
							<td>Available</td>
							<td>Dist. 1</td>
							<td>Dist. 7</td>
							<td><input type="submit" value="Report" /></td>
							<td><input type="submit" value="Modify" /></td>

						</tr>
						<tr>
							<td>325i</td>
							<td>BMW</td>
							<td>Sedan</td>
							<td>3</td>
							<td>Blue</td>
							<td>Sai Gon</td>
							<td>$84</td>
							<td>Booked</td>
							<td>Dist. 2</td>
							<td>Dist. 8</td>
							<td><input type="submit" value="Report" /></td>
							<td><input type="submit" value="Modify" /></td>


						</tr>

					</tbody>

				</table>
			</div>

		</div>
	</section>


	<section id="register" class="wrapper align-left">
		<div class="inner">

			<h3>USER HISTORY</h3>

			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>User name</th>
							<th>Email</th>
							<th>Departure</th>
							<th>Arrival</th>
							<th>Cost</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>James Corden</td>
							<td>Corden.ja@gmail.com</td>
							<td>Dist. 1</td>
							<td>Dist. 7</td>
							<td>$36</td>
						</tr>
						<tr>
							<td>Tim Iyv</td>
							<td>Tim.iy@gmail.com</td>
							<td>Dist. 4</td>
							<td>Dist. 8</td>
							<td>$82</td>
						</tr>

					</tbody>

				</table>
			</div>

		</div>
	</section>








	<!-- Footer -->
	<footer id="footer">
		<div class="inner">

			<h3>About us</h3>

			<!-- <form action="#" method="post">

				<div class="field half first">
					<label for="name">Name</label>
					<input name="name" id="name" type="text" placeholder="Name">
				</div>
				<div class="field half">
					<label for="email">Email</label>
					<input name="email" id="email" type="email" placeholder="Email">
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
				</div>
				<ul class="actions">
					<li><input value="Send Message" class="button alt" type="submit"></li>
				</ul>
			</form> -->

			<div class="copyright">
				&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a
					href="https://unsplash.com">Unsplash</a>.
			</div>

		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>